<h1>Bienvenido a la App de Posts</h1>
<form action="/posts" method="get">
	<button type="submit">Posts!</button>
</form>
<br>
<form action="/tags" method="get">
	<button type="submit">Tags!</button>
</form>
